body {
    margin: 0;
}

.comments-container {
    padding: 1rem;
    border: 1px solid;
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #eee;
}

.comment {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.comment-username {
    font-weight: bolder;
    margin: 0px 0px;
}

.comment-text {
    margin: 0px 0px;
}

.reply-btn {
    font-size: 0.7rem;
    padding: 0 0.2rem;
}

.comment-reply-form-text {
    display: block;
    width: 300px;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.comment-reply-post-btn {
    font-size: 0.7rem;
    padding: 0 0.2rem;
}
